.carousel {
    position: relative;
    width: 100%;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-images img {
    width: 100%;
    margin-left: 70px;
    display: block;
  }
  
  .carousel-images img.active {
    opacity: 1;
  }
  