.cartitems{
    margin: 100px 170px;
}
.cartitems .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 75px;
    margin-left: 10px;
}
.classitem-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    background: white;
    border: 2px solid #ebebeb;
}
.cartitems-down{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;

}
.place-order-left{
  width: 100%;
  max-width: max(30%, 500px);
}
.place-order-left .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.place-order-left input{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}
.place-order-left .multi-fields{
  display: flex;
  gap: 10px;
}
.place-order-right{
  width: 100%;
  max-width: max(40%, 500px);
}

.cartitems-total{
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 232px;
    height: 58px;
    outline: none;
    border: none;
    background: black;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .cartitems {
      margin: 60px 50px;
    }
    .cartitems-format-main {
      display: grid;
      grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
      gap: 20px;
      padding: 15px 0px;
      font-size: 15px;
    }
    .carticon-product-icon {
      height: 50px;
    }
    .classitem-remove-icon {
      margin: auto;
    }
    .cartitems-quantity {
      width: 40px;
      height: 30px;
    }
    .cartitems-down {
      flex-direction: column;
      gap: 80px;
      margin: 80px 0px;
    }
    .cartitems-total {
      margin: 0;
    }
    .cartitems-total button {
      max-width: 200px;
      height: 45px;
      font-size: 13px;
    }
  }
  
  @media (max-width: 500px) {
    .cartitems-format-main {
      display: none;
    }
    .cartitems-format {
      display: grid;
      grid-template-columns: 0.5fr 3fr 0.5fr;
      gap: 10px;
    }
  }
  