.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.ftr-top {
    margin-top: 20px;
  }
  
  .ftr-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #fafafa;
  }
  
  .ftr-top li {
    margin: 0 100px;
    display: flex;
    align-items: center;
  }
  
  .ftr-top img {
    width: 60px; 
    margin-right: 10px; 
  }
  
  .ftr-top span {
    font-size: 14px;
  }
  
  .ftr-top span strong {
    font-weight: bold;
  }
  
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media(max-width:800px){
    .footer{
        gap: 20px;
    }
    .footer-logo{
        gap: 10px;
        align-items: end;
    }
    .footer-logo img{
        width: 40px;
    }
    .footer-logo p{
        font-size: 25px;
    }
    .footer-links{
        font-size: 14px;
        gap: 10px;
    }
    .footer-social-icons img{
        width: 22px;
    }
    .footer-copyright{
        font-size: 13px;
    }
}